<li id="feed-{{feed.id}}" data-index="{{feed.i}}" class="{{feed.type}}">
    {{#feed.urlid}}
	<a href="#/feed/{{feed.urlid}}" class="">
    {{/feed.urlid}}
    {{^feed.urlid}}
	<a href="#/feed/{{feed.id}}" class="">
    {{/feed.urlid}}
		{{>feed_partial}}
	</a>
	{{feed.#unread}}
		<span class="count">{{feed.unread}}</span></a>
	{{feed./unread}}
</li>
