{{#icon}}
<img class="fav" src="{{icon}}{{feed.id}}.ico">
{{/icon}}
<div class="feed">
    <b>{{{feed.title}}}</b>
    {{#feed.updated}}
        <span class="metadata">
            <span class="inline-block">{{feed.updated}}</span> 
        </span>
    {{/feed.updated}}
</div>

