<li id="article-{{id}}" data-index="{{i}}" class="{{type}}">
	<a href="#/article/{{id}}/{{i}}" class="">
		<div class="number">{{i}}.</div>
		<div class="feed">
			<b>{{{title}}}</b>
		</div>
	</a>
</li>

