<li id="article-{{article.id}}" data-index="{{article.i}}" class="{{article.type}}">
	<a href="#/article/{{article.id}}/{{article.i}}" class="">
        {{#icon}}
        <img class="fav" src="{{icon}}{{feed_id}}.ico">
        {{/icon}}
		<div class="feed">
			<b>{{{article.title}}}</b>
		</div>
        {{#article.marked}}
        <div class="icon-star-16"><img src="assets/images/web/star_16.png"></div>
        {{/article.marked}}
	</a>
</li>



