<div class="post-content">
    <section class="grouped-tableview">
            <table>
                <tbody>
                    <tr>
                        <td><label for="username">Username</td>
                        <td><input id="username" placeholder="username" type="text" autocorrect="off" autocapitalize="off" autofocus="autofocus"></td>
                    </tr>
                    <tr>
                        <td><label for="password">Password</label></td>
                        <td><input id="password" placeholder="password" type="password"></td>
                    </tr>
                    <tr>
                        <td><input type="button" class="" value="Login" id="login"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><span class="view hidden login-error"></span>
                    </tr>
                </tbody>
            </table>
    </section>
</div>

